server {
    server_name         ((server_name));
    ssl_certificate     /usr/share/nginx/certs/fake/local.crt;
    ssl_certificate_key /usr/share/nginx/certs/fake/local.key;
    client_max_body_size 500m;

    location / {
        return 302 http://((target_server_name))$request_uri;
    }

    # Used by Let's Encrypt
    location /.well-known/acme-challenge/ {
        root /usr/share/nginx/domains;
    }
}
